@{
    ViewData["Title"] = "Calcula";
}

<h1>Calcula</h1>
<div>
    <p><a href="~/Home">Vai pro começo</a></p>
    <p><a href="https://www.google.com">Vai pro google</a></p>
    <button type="button" onclick="alert('4')"><a>2 + 2?</a></button>
</div>