
@{
    ViewData["Title"] = "Exec3";
}

<h1>Exec3</h1>

<div>
    <button type="button" onclick="alert('4')"><a>2 + 2?</a></button>
    <button type="button" onclick="alert('4')"><a>2 + 2?</a></button>
    <button type="button" onclick="alert('4')"><a>2 + 2?</a></button>
</div>

